@use '../utils/variables' as *; // Importation des variables
@use '../utils/placeholders' as *;

header {
    @extend %box-shadow;
    nav {
        a {
            color: $info;
            text-decoration: none;
            font-size: 18px;

            &:global(.active) {
            color: $tertiary;
            font-weight: bold;
        }
        }
    }
}